body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* En-tête*/
.presentation{
  background-color: #D6EFDE;
  font-family: 'Berkshire Swash'; cursive;
}
h1{
  font-size: 80px;
}
/* Navbar*/
h2{
  font-size: 50px;
  margin-bottom: 10px;
}
.navbar{
  display: flex;
  justify-content: space-around;
  background-color: #D6EFDE;
  font-size: 24px;
  padding: 10px;
}
button{
  border: none;
  border-radius: 30px;
  background-color: #D6EFDE;
}
button:hover{
  color: #8abff7;
}
.title{
  background-color: #D6EFDE;
  margin: 150px;
  padding: 20px;
  font-family: 'Berkshire Swash';
  border-radius: 50px;
}
.btn{
  display: flex;
  justify-content: center;
  background-color: #fcf0cf;
  margin: 0 20px;
  font-weight: bold;
}
.card{
  margin: 20px;
  background-color: rgb(214,239,222,0.1);
}
.logo{
  width: auto;
  height: 200px;
  padding: 5px;
}
.background {
  padding: 20px;
  background-color: rgb(214,239,222);
}
h5{
  display: flex;
  justify-content: center;
  font-size: auto;
  background-color: rgb(252, 240, 207, 0.3);
  border-radius: 5px;
  align-items: center;
  font-weight: bold;
  font-family: inherit;
  margin: 5px;
}
.card1{
  background-color: rgb(255, 232, 188);
}
.imgFormation{
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: auto;
  margin-top: 20px;
  border-radius: 30px;
}
.background1{
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgFormation1{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(214,239,222,0.4);
  width: 200px;
  height: auto;
  margin-top: 20px;
  padding: 30px;
  border-radius: 30px;
}
.background2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: rgb(214,239,222);
  border-radius: 20px;
}
