#header{
  background-image: url(../img/Moi4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 1100px;
  color: white;
}
h1{
  display: flex;
  justify-content: center;
  font-family: 'Meddon', cursive;
  font-size: 110px;
  padding-top: 40px;
}
h2{
  display: flex;
  justify-content: center;
  font-family: 'Meddon', cursive;
  font-size: 60px;
  margin-top: 80px;
}
#navbar{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
  font-size: 35px;
  margin-top: 10px;
  padding: 10px;
  font-family: 'EB Garamond', serif;
  color: #3D0705;
}
a{
  color: #3D0705;
}
a:hover{
  color: #7F1A2D;
}
.skill{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
li{
  list-style-type: none;
  font-size: 35px;
  font-family: 'EB Garamond', serif;

}
#blockSkill{
  color: white;
  background-color: #3D0705;
  padding: 5px;
}
.titleSkill{
  background-color: white;
  color: black;
  padding: 20px;
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: 5%;
}
.skills{
  display: flex;
  flex-direction: column;
  align-items: center;
}
i{
  color: #7F1A2D;
}
.fab{
  color: #3D0705;
}
.titleLevel{
  color: white;
  background-color: #7F1A2D;
  padding: 20px;
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: 5%;
}
p{
  display: flex;
  justify-content: center;
  font-family: 'EB Garamond', serif;
  align-items: center;
  font-size: 20px;
}
.card-title{
  display: flex;
  justify-content: center;
}
.card{
  border: none;
}
.card-text{
  display: flex;
  justify-content: center;
  align-items: center;
}
.level{
  display: flex;
  flex-direction: column;
}
.language, .adobe{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.apple{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
img{
  display: flex;
  align-items: center;
  width: 10px;
  height: auto;
  margin-top: 20px;
}
#formations{
  background-color: black;
  color: white;
}
.btn{
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-left: 70px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: white;
  font-family: 'EB Garamond', serif;
}
.modal{
  font-family: 'EB Garamond', serif;
  font-size: 10px;
  color: black;
  list-style-type: armenian;
}
